<h1>Log In</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= bootstrap_form_for :login do |f| %>
  <%= f.text_field :email, label: "Email:" %>
  <%= f.password_field :password, label: "Password:" %>

  <%= f.submit 'Log In' %>
<% end %>