<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<!-- empty div used to center login form -->
<!-- log in moved to welcome/index -->
<div class='col-md-4'>

</div>
  <div class='col-md-4'>
    <h1>Log In</h1>
    <%= bootstrap_form_for :login do |f| %>
      <%= f.text_field :email, label: "Email:", class: "form-font" %>
      <%= f.password_field :password, label: "Password:", class: "form-font" %>

      <%= f.submit 'Log In' %>
    <% end %>
    <br>
    <%= link_to "Cancel", root_path  %>

  </div>

