
<h2><%=current_user.name%> is logged in right now</h2>

<!-- currently a list of all users -->



<h3>possible friends</h3>
<div>
  <% @users.each do |user|%>
    
    <%= user.name %>

    <%= link_to "request friend", friendship_requests_path(:friendee_id => user.id), :method=>:post %>
  <% end %>


</div>


<!-- creates a friendship_request -->
<h2>you sent requests to these users</h2>
  <div>
    <% current_user.friendship_requests.each do |request| %>

    <%= request.friendee.name%>
    <% end %>
  </div>

<!-- shows who have sent requests to the current_user -->
<h2>these users sent requests to you</h2>
  <div>
      <% current_user.request_received.each do |request| %>
        <%= request.user.name %>
        <%= link_to "accept", friendship_request_path(request,:accept=>true), :method=>:delete %>
      <% end %>
  </div>


<h2>here are your friends</h2>
  <div>
    <% current_user.friendships.each do |friendship| %>
    <h2><%= friendship.friendee.name%></h2>
    <%= link_to "delete friend", friendship, :method => :delete %>
  <% end %>
</div>



<h1>array of all the requester TESTTEST</h1>
<%= current_user.requesters %>

<h1>array of all the requestee TESTTEST</h1>
<%= current_user.requestees %>

<h1>possible friends</h1>
<%= current_user.possible_friends %>

<% if logged_in? %>
  <%= link_to "Log Out", logout_path, method: :delete %>
<% end %>