
<!-- This empty Div used to center form -->
<div class='col-md-4'>

</div>

<div class='col-md-4'>
  <h1>Sign up</h1>

  <%= bootstrap_form_for @user do |f| %>
    <%= f.text_field :name, label: "Name:", class: "form-font" %>
    <%= f.email_field :email, label: "Email:", class: "form-font" %>
    <%= f.password_field :password, label: "Password:", class: "form-font" %>
    <%= f.password_field :password_confirmation, label: "Password Confirmation:", class: "form-font" %>
    <%= f.text_field :city, label: "Your city:", class: "form-font" %>
    <%= f.file_field :avatar %>

    <%= f.submit "Sign me up!" %>
  <% end %>
  <br>
   <%= link_to "Cancel", root_path, class: "form-font"  %>
</div>


