<div class='container-fluid'>
  <div class="nav">
    <button class="btn btn-lg btn-info btn-register logout-btn"><%= link_to "Log Out", logout_path, method: :delete%></button>

    <button type="button" class="btn btn-lg btn-info btn-register edit-btn" data-toggle="modal" data-target="#editUserModal">Edit Profile</button>

    <button class="btn btn-lg btn-info btn-register home-btn"><%= link_to "Back Home", root_path %></button>
  </div>  

  <h1>More about <%= @user.name %></h1>

  <%= image_tag @user.avatar.url(:thumb) %>
   
  <!-- ============ Start Edit User Modal ============ -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-med">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">Edit Your Profile</h2>
          </div>

          <div class="modal-body">
            <%= bootstrap_form_for current_user, url: user_path(current_user), method: :patch do |f| %>
              <%= f.text_field :name, label: "Name:", class: "form-font" %>
              <%= f.email_field :email, label: "Email:", class: "form-font" %>
              <%= f.password_field :password, label: "Password:", class: "form-font" %>
              <%= f.password_field :password_confirmation, label: "Password Confirmation:", class: "form-font" %>
              <%= f.text_field :city, label: "Your city:", class: "form-font" %>
              <%= f.file_field :avatar %>

              <%= f.submit "Save Changes!" %>
            <% end %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div> <!-- end modal content div-->
      </div> <!-- end modal dialog div-->
    </div> <!-- end edit user modal -->

  <!-- ============ Start Checkins Modal This doesn't work moved to checkins/new view ============ -->
    <div class="modal fade" id="checkInUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-med">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Check In</h4>
          </div>

          <div class="modal-body">
            <div class="row map-container">
              <input id="pac-input" class="controls" type="text" placeholder="Search Box - Enter Address or Venue Name">
              <div id="map-canvas" class="centered"></div>
            </div>

            <%= bootstrap_form_for :checkin, url: {:controller=> 'checkins', :action => "create"}  do |f| %>
              <%= f.file_field :photo, label: "Photo:" %>
              <%= f.text_area :status, label: "What's happenin?" %>
              <!-- content in this div is appended from google maps ajax request and solely input here to save to db -->
              <div class='hide'>
                <%= f.text_area :name, :id => 'name' %>
                <%= f.text_area :longitude, :id => 'longitude' %>
                <%= f.text_area :latitude, :id => 'latitude'  %>
                <%= f.text_area :formatted_address, :id => 'address' %>
                <%= f.text_area :types, :id => 'type' %>
              </div>
              <%= f.submit "Check me in!" %>
            <% end %>
            <%= link_to "Cancel", root_path %>
          </div> <!-- end modal body div-->

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div> <!-- end modal content div-->
      </div> <!-- end modal dialog div-->
    </div> <!-- end checkin modal -->


    <!-- shows all users's checkins -->
    <h2><%= @user.name %>'s Previous Check Ins</h2>
      <div class='checkin'>
        <% @user.checkins.each do |checkin| %>
          <li id="checkin-name"><h3><%= image_tag "checkin.png", height: 30 %> <%= checkin.name %></h3></li>
          <li><%= checkin.created_at.localtime.strftime("%d %b. %Y at %l:%M %P") %></li>
          <li><%= image_tag checkin.photo.url(:photo) %></li>
          <li><%= checkin.status %></li>
        <% end %>
      </div>
  </div>
</div>