<nav class='navbar navbar-default fixed-top'>
  <div class='navbar-header nav-right'>
    <ul class='nav nav-pills'>
      <li id="login-name">Logged in as: <%= current_user.name %></li>

      <li><%= link_to "Create New Check In", new_checkin_path %></li>

      <li><%= link_to "Home", root_path %></li>
      <%if logged_in? %>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% end %>
      <!-- Add link to create new check in -->


      <li><%= link_to "Your Profile", user_path(current_user.id) %></li>
    

      
      
      <% if !logged_in? %>
        <li><%= mail_to current_user.email, "Send email", subject: "#{current_user.name} Says Hello!" %></li>
      <% end %>
    </ul>
  </div>
</nav>

